h1,h2 {
    font-size: 24px;
    text-align: center;
    text-decoration: underline;                
}
p {
    font-size: 18px;
    width: 750px;
}
.navigation {
    font-size: 22px;
    color: brown;
    margin: 10px;
}
main {
    width: 750px;
    margin: 20px;
    font-size: 18px;
    border: 1px solid black;
    padding: 10px;
}
