h1 {
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
}
h2 {
    font-size: 24px;
    text-align: center;
    text-decoration: underline;                
}
p {
    font-size: 18px;
    width: 750px;
}
.navigation {
    font-size: 22px;
    color: black;
    margin: 10px;
    text-decoration: underline;
}
main {
    width: 750px;
    margin: 20px;
    font-size: 18px;
    border: 1px solid black;
    padding: 10px;
}
img {
    border: 1px solid black;
}
ul {
    font-size: 24px;
}